.serverImage{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  color: white;
}

.joinServer, .LoginPage{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px 20px;
  background-color: #3A3B3C;
  margin: 0;
  height: 100vh;
}

.joinMessage{
  font-size: 20px;
  text-align: center;
  color: white;
}
