.ServerPanel{
  background-color: #1b1c1d;
  color: white;
  width: 25vw;
  max-width: 100px;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 20px;
  
}
img{
  width: 50px;
  border-radius: 25%;
}

